html {
  background-color: #e0e0e0;
}

.hero {
  align-items: center;
}

#Top_Title {
  padding-top: 100px;
  font-size: 3.5rem;
}

#Top_SubTitle {
  font-size: 1.5rem;
  text-align: right;
  padding-bottom: 140px;

}
#Top_Date {
  font-size: 2rem;
}

figure.image {
  width: 200px;
}

h1.with-SectionBar {
  margin-top: 60px;
  width: 80vw;
  height: 48px;
  background:#003A8A;
  color: #FFFFFF;
  font-size: calc(120% + 0.5vw);

  padding-top: 10px;
  padding-left: 10px;
}

h1#Access {
  padding-bottom: 10px;
}

iframe {
  width:800px;
  height: 600px;
}

th, td {
  font-size: 1.2rem;
}

article.message {
  width: auto;
  margin-top: 30px;
}

div.message-body > h1 {
  color: #22509a;
}

div.message-body > h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

div.message-body > hr {
  background-color: #22509a;
}

div#sponsors {
  height: 190px;
  text-align: center;
}

img.sponsors {
  width: 300px;
}

img.is-pepabo {
  margin-top: 10px;
}


h1.title.is-cookpad {
  margin-bottom: 12px;
}


h1.title.is-spice_life {
  margin-bottom: 16px;
}

img.is-spice_life {
  width: 165px;
}

#space {
  height: 60px;
}

footer {
  background-color: white;
}

img.with-bulma {
  width: 192px;
  height: 36px;
}
