html {
  background-color: #F5F5F5;
}

.hero {
  align-items: center;
}

#Top_Title {
  padding-top: 100px;
  font-size: 3.5rem;
}

#Top_SubTitle {
  font-size: 1.5rem;
  text-align: right;
  padding-bottom: 140px;

}
#Top_Date {
  font-size: 2rem;
}

figure.image {
  width: 200px;
}

h1.with-SectionBar {
  margin-top: 60px;
  align-self: center;
  width: 80vw;
  height: 48px;
  background:#003A8A;
  color: #FFFFFF;
  font-size: calc(120% + 0.5vw);

  padding-top: 10px;
  padding-left: 10px;
}
iframe {
  width:800px;
  height: 600px;
}
th, td {
  font-size: 1.5rem;
}
